<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/app-styles.css">
    <title>EYC</title>
</head>
<body>
    <header>
        <nav id="main-app">
            <!-- SECCION LOCAL PARA LAS BUSQUEDAS-->
            <span><a href="#search">Buscar</a></span>
            <!-- SECCION LOCAL PARA EL PERFIL DEL USUARIO-->
            <span><a href="#profile">Perfil</a></span>
            <span>
                <form action="/logout" method="post">
                    <button type="submit" id="logoutBtn">Cerrar sesión</button>
                </form>
            </span>
        </nav>
    </header>
    <section id="profile">
        <h1>Perfil</h1>
    </section>
    <section id="search">
        <h1>Buscar</h1>
    </section>
    <footer id="footer">
        <div class="footer-content">
            <span>&copy; 2024 EYC. Todos los derechos reservados.</span>
        </div>
    </footer>
</body>
</html>