<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index-style.css">
    <title>EYC-Home</title>
</head>
<body>
    <!-- Pagina principal, en el header va el logo y el menu de navegacion-->
    <header>
        <nav id="navbar" class="open">
            <div id="home-header">
                <span>
                    <a href="#main-section">  
                        <img src="../assets/logo.png" alt="main-logo" width="50" height="50">
                    </a>
                </span>
                <span>
                    <!--Seccion local de inicio, LO PRIMERO QUE VERA EL USUARIO AL INGRESAR-->
                    <a href="#main-section">Inicio</a>
                </span>
                <span>
                    <!-- ENVIAR AL USUARIO AL LOGIN, SECCION GLOBAL DEL PROYECTO--> 
                    <a href="/login">Login</a> 
                </span>
                <span>
                    <!-- ENVIAR AL USUARIO AL LOGIN, SECCION GLOBAL DEL PROYECTO--> 
                    <a href="/login">Sign Up</a> 
                </span>
                <span>
                    <!-- ENVIAR AL USUARIO A APP, SECCION GLOBAL DEL PROYECTO--> 
                    <a href="/app">App</a> 
                </span>
                <span>
                    <form action="/logout" method="post">
                        <button type="submit" id="logoutBtn">Cerrar sesión</button>
                    </form>
                </span>
            </div>
        </nav>
    </header>
    <main>
        <section id="main-section">
            <div class="main-content">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. A adipisci illo laudantium eligendi necessitatibus officiis quam temporibus maiores porro repellat perferendis rerum fuga sunt repellendus eos soluta vero, voluptatem modi.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam enim quas ipsam, dolorum quasi odio, amet veniam illo corporis perferendis quis officia ex, itaque magnam? Sint id deserunt culpa qui?</p>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="footer-content">
            <span>&copy; 2024 EYC. Todos los derechos reservados.</span>
        </div>
    </footer>
    <script src="../static/scripts/index-script.js"></script>

</body>
</html>